In [5]:
import pandas as pd
import numpy as np
from datetime import datetime, date
from sweref99 import projections

In [6]:
path='./data/Brandriskdata 2000-2020.csv'
#'PunktID': str, 'E': str, 'N': str,
types={ 'PunktID': str}

In [7]:
df = pd.read_csv(path, sep=';', dtype=types)

In [15]:

df.head(50)

,PunktID,E,N,Kommun,Datum,Temp,Tmedel,Nederbord,RH,Vindhastighet,...,DC,ISI,BUI,FWI,FWI_index,HBV_o,HBV_u,HBV,HBV_index,Gras
0,1,454334.0,6690301.0,2021.0,2000-04-01,"1,8","1,6",0,48,"3,6",...,0,0,0,0,1.0,94.0,95.0,100.0,1.0,NaN
1,1,454334.0,6690301.0,2021.0,2000-04-02,"-2,3","-2,3","0,9",71,"4,4",...,0,0,0,0,1.0,94.0,95.0,100.0,1.0,NaN
2,1,454334.0,6690301.0,2021.0,2000-04-03,"-1,4",-3,"5,4",93,"3,5",...,0,0,0,0,1.0,94.0,95.0,100.0,1.0,NaN
3,1,454334.0,6690301.0,2021.0,2000-04-04,"0,1","-0,2","6,3",90,"1,7",...,0,0,0,0,1.0,96.0,95.0,100.0,1.0,NaN
4,1,454334.0,6690301.0,2021.0,2000-04-05,"0,4","-2,8","2,3",40,"6,1",...,0,0,0,0,1.0,96.0,95.0,100.0,1.0,NaN
5,1,454334.0,6690301.0,2021.0,2000-04-06,"4,4","-0,1",0,47,"3,1",...,0,0,0,0,1.0,96.0,95.0,100.0,1.0,NaN
6,1,454334.0,6690301.0,2021.0,2000-04-07,"4,2","0,2",0,42,"3,2",...,0,0,0,0,1.0,96.0,95.0,100.0,1.0,NaN
7,1,454334.0,6690301.0,2021.0,2000-04-08,"6,2","0,5",0,37,"1,3",...,0,0,0,0,1.0,96.0,95.0,100.0,1.0,NaN
8,1,454334.0,6690301.0,2021.0,2000-04-09,"7,4","1,5",0,43,"0,1",...,0,0,0,0,1.0,97.0,95.0,100.0,1.0,NaN
9,1,454334.0,6690301.0,2021.0,2000-04-10,"10,5","4,6",0,40,"1,8",...,0,0,0,0,1.0,96.0,95.0,100.0,1.0,NaN
10,1,454334.0,6690301.0,2021.0,2000-04-11,"7,8","3,4",0,58,2,...,0,0,0,0,1.0,94.0,95.0,100.0,1.0,NaN
11,1,454334.0,6690301.0,2021.0,2000-04-12,"6,6","2,9",0,56,"3,2",...,0,0,0,0,1.0,93.0,95.0,100.0,1.0,NaN
12,1,454334.0,6690301.0,2021.0,2000-04-13,"2,9","2,2","8,4",89,"5,4",...,0,0,0,0,1.0,95.0,95.0,100.0,1.0,NaN
13,1,454334.0,6690301.0,2021.0,2000-04-14,3,"2,2",0,74,"2,7",...,0,0,0,0,1.0,94.0,95.0,100.0,1.0,NaN
14,1,454334.0,6690301.0,2021.0,2000-04-15,"2,6","2,2","2,4",89,"4,5",...,0,0,0,0,1.0,94.0,95.0,100.0,1.0,NaN
15,1,454334.0,6690301.0,2021.0,2000-04-16,6,"1,7","4,4",65,"2,7",...,0,0,0,0,1.0,94.0,95.0,100.0,1.0,NaN
16,1,454334.0,6690301.0,2021.0,2000-04-17,"5,6","3,1","2,6",83,"3,5",...,0,0,0,0,1.0,94.0,94.0,100.0,1.0,NaN
17,1,454334.0,6690301.0,2021.0,2000-04-18,"7,1","5,8","3,6",85,"3,5",...,0,0,0,0,1.0,92.0,94.0,100.0,1.0,NaN
18,1,454334.0,6690301.0,2021.0,2000-04-19,"8,7","5,9",0,60,1,...,0,0,0,0,1.0,88.0,93.0,100.0,1.0,NaN
19,1,454334.0,6690301.0,2021.0,2000-04-20,"9,8","6,5","1,8",68,"0,9",...,0,0,0,0,1.0,85.0,92.0,100.0,1.0,NaN
20,1,454334.0,6690301.0,2021.0,2000-04-21,"14,8","8,5","0,6",56,"3,4",...,"3,6","0,1","1,6",0,1.0,80.0,91.0,100.0,1.0,NaN
21,1,454334.0,6690301.0,2021.0,2000-04-22,"12,4","9,4",0,55,"3,3",...,"6,8",1,"3,1","0,4",1.0,74.0,89.0,85.0,1.0,NaN
22,1,454334.0,6690301.0,2021.0,2000-04-23,"7,3","6,6","14,2",98,"2,2",...,"2,3",0,"0,9",0,1.0,86.0,90.0,98.0,1.0,NaN
23,1,454334.0,6690301.0,2021.0,2000-04-24,"7,4","6,8","13,4",94,2,...,"2,3",0,"0,2",0,1.0,88.0,90.0,99.0,1.0,NaN
24,1,454334.0,6690301.0,2021.0,2000-04-25,"8,6","6,4","10,7",75,"2,5",...,"2,5",0,"0,8",0,1.0,88.0,90.0,99.0,1.0,NaN
25,1,454334.0,6690301.0,2021.0,2000-04-26,"11,4","8,4",0,46,"1,6",...,"5,5","0,4","2,2","0,1",1.0,82.0,88.0,86.0,1.0,NaN
26,1,454334.0,6690301.0,2021.0,2000-04-27,"9,7","6,6","2,7",72,2,...,"8,2","0,3","2,3","0,1",1.0,81.0,88.0,95.0,1.0,NaN
27,1,454334.0,6690301.0,2021.0,2000-04-28,"13,3",10,0,64,2,...,"11,6","0,9","3,6","0,3",1.0,74.0,86.0,82.0,1.0,NaN
28,1,454334.0,6690301.0,2021.0,2000-04-29,"21,1",13,0,44,"1,9",...,"16,3","2,4","6,3","1,5",2.0,65.0,84.0,78.0,1.0,NaN
29,1,454334.0,6690301.0,2021.0,2000-04-30,"15,7",13,"0,1",56,"2,6",...,"20,1","3,4","7,9","3,1",2.0,58.0,82.0,74.0,1.0,NaN
30,1,454334.0,6690301.0,2021.0,2000-05-01,6,"6,4","1,7",80,"1,8",...,"23,6","0,8","8,2","0,4",1.0,61.0,81.0,84.0,1.0,NaN
31,1,454334.0,6690301.0,2021.0,2000-05-02,"5,6","5,7","0,3",68,"3,1",...,27,"1,3","9,1","0,7",1.0,59.0,80.0,73.0,2.0,NaN
32,1,454334.0,6690301.0,2021.0,2000-05-03,"8,5","7,1","0,8",70,"3,2",...,31,"1,4","10,1","0,9",1.0,59.0,79.0,83.0,1.0,NaN
33,1,454334.0,6690301.0,2021.0,2000-05-04,"12,2","6,9",0,37,"1,9",...,"35,6","2,5","12,3","2,9",2.0,56.0,79.0,71.0,2.0,NaN
34,1,454334.0,6690301.0,2021.0,2000-05-05,"15,2","9,1",0,39,3,...,"40,7","5,1","14,7","6,8",2.0,53.0,77.0,69.0,2.0,NaN
35,1,454334.0,6690301.0,2021.0,2000-05-06,14,"8,8",0,37,"1,3",...,"45,7","4,3",17,"6,3",2.0,50.0,76.0,68.0,2.0,NaN
36,1,454334.0,6690301.0,2021.0,2000-05-07,"18,9","11,9",0,39,"3,7",...,"51,5","7,3","19,8","10,8",3.0,46.0,75.0,66.0,2.0,NaN
37,1,454334.0,6690301.0,2021.0,2000-05-08,"18,4","13,3",0,32,"1,3",...,"57,2","5,4","22,8","9,1",3.0,41.0,73.0,63.0,2.0,NaN
38,1,454334.0,6690301.0,2021.0,2000-05-09,"22,2","14,4",0,32,"2,9",...,"63,6","8,3","26,8","14,1",3.0,37.0,72.0,61.0,2.0,NaN
39,1,454334.0,6690301.0,2021.0,2000-05-10,"19,3","13,3",0,41,"2,4",...,"69,5","7,3",30,"13,4",3.0,34.0,70.0,59.0,2.0,NaN
40,1,454334.0,6690301.0,2021.0,2000-05-11,"10,8","8,2",0,33,"6,6",...,"73,9","15,2","32,1",24,5.0,32.0,69.0,58.0,3.0,NaN
41,1,454334.0,6690301.0,2021.0,2000-05-12,"11,4","6,3",0,36,"2,6",...,"78,3",7,"34,2",14,3.0,31.0,69.0,57.0,3.0,NaN
42,1,454334.0,6690301.0,2021.0,2000-05-13,"17,9","11,6",0,38,4,...,84,"9,3","37,3","18,1",4.0,28.0,67.0,55.0,3.0,NaN
43,1,454334.0,6690301.0,2021.0,2000-05-14,"22,7","14,6",0,28,"2,1",...,"90,5","8,1","41,8","17,4",4.0,25.0,66.0,53.0,3.0,NaN
44,1,454334.0,6690301.0,2021.0,2000-05-15,"22,1","16,6",0,25,"1,5",...,"96,9",8,"46,4","18,1",4.0,22.0,64.0,51.0,3.0,NaN
45,1,454334.0,6690301.0,2021.0,2000-05-16,19,"14,8",0,47,4,...,"102,7",9,"49,2","20,4",4.0,20.0,63.0,49.0,3.0,NaN
46,1,454334.0,6690301.0,2021.0,2000-05-17,"23,6","16,8","0,2",36,"4,8",...,"109,3","11,1","53,3","24,7",5.0,19.0,61.0,47.0,3.0,NaN
47,1,454334.0,6690301.0,2021.0,2000-05-18,"12,6","12,6","1,3",55,"3,9",...,114,"2,5",55,8,3.0,24.0,60.0,58.0,3.0,NaN
48,1,454334.0,6690301.0,2021.0,2000-05-19,"11,1",9,"2,4",86,"2,6",...,"118,4","0,6","47,3",1,1.0,34.0,59.0,60.0,2.0,NaN
49,1,454334.0,6690301.0,2021.0,2000-05-20,"15,1","9,5",0,42,"0,8",...,"123,5","0,9","49,7","2,6",2.0,32.0,58.0,48.0,3.0,NaN

In [100]:
df.dtypes

PunktID           object
E                float64
N                float64
Kommun           float64
Datum             object
Temp              object
Tmedel            object
Nederbord         object
RH                object
Vindhastighet     object
Vindriktning      object
FFMC              object
DMC               object
DC                object
ISI               object
BUI               object
FWI               object
FWI_index        float64
HBV_o            float64
HBV_u            float64
HBV              float64
HBV_index        float64
Gras             float64
dtype: object

In [8]:
tm = projections.make_transverse_mercator("SWEREF_99_TM")

In [11]:
def swerefToLatLon(dataframe):
    for row in dataframe:
        lat, lon = tm.grid_to_geodetic(row["N"], row["E"])
        row['N'] = lat
        row['E']= lon
    return dataframe

In [12]:
data = swerefToLatLon(df)

TypeError: string indices must be integers