In [18]:
import pandas as pd
import numpy as np
from datetime import datetime, date
from sweref99 import projections
import folium
from folium import plugins
from selenium import webdriver
import matplotlib.pyplot as plt
from sklearn import linear_model, datasets
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from ipywidgets import interact, interactive, fixed, interact_manual
from IPython.display import display, clear_output

In [3]:
path='./data/Insatser till brand i skog och mark 2000-2020.xlsx'

In [4]:
#tm is used for the conversions of easting and northing to longitude and latitude
tm = projections.make_transverse_mercator("SWEREF_99_TM")

In [8]:
df = pd.read_excel(path)
sample = df.sample(50)

In [6]:
for column in df:
    if df[column].isnull().any():
       print('{0} has {1} null values'.format(column, df[column].isnull().sum()))

sweref99Norr has 20718 null values
sweref99Ost has 20717 null values

In [7]:
#Function that calculates number of missing data in column of dataframe and prints result.
def missing(df,column):
       x = len(df)
       if df[column].isnull().any():
           print('{0} has total of {1} null values'.format(column, df[column].isnull().sum()))
           print ('In the column {0}'.format(column), round(df[column].count()-1/x * 100, 3), '% of the cells have missing values')

In [9]:
#Missing values of column 'Gras'
missing(sample,'sweref99Norr')
missing(sample,'sweref99Ost')
sample.isnull().sum(axis = 0)

sweref99Norr has total of 10 null values
In the column sweref99Norr 38.0 % of the cells have missing values
sweref99Ost has total of 10 null values
In the column sweref99Ost 38.0 % of the cells have missing values

ar                               0
datum                            0
tid                              0
kommun                           0
kommunKortNamn                   0
verksamhetText                   0
sweref99Norr                    10
sweref99Ost                     10
BEJBbrandorsakText               0
arealProduktivSkogsmark_m2       0
arealAnnanTradbevuxenMark_m2     0
arealMarkUtanTrad_m2             0
dtype: int64

In [14]:
sample['TotArea'] = sample['arealProduktivSkogsmark_m2']+sample['arealAnnanTradbevuxenMark_m2']+sample['arealMarkUtanTrad_m2']
sample

,ar,datum,tid,kommun,kommunKortNamn,verksamhetText,sweref99Norr,sweref99Ost,BEJBbrandorsakText,arealProduktivSkogsmark_m2,arealAnnanTradbevuxenMark_m2,arealMarkUtanTrad_m2,Latitude,Longitude,TotArea
80185,2017,2017-06-28,15:40:00,1287,Trelleborg,Verksamhet inte knuten till en byggnad,6137248.0,394174.0,Okänd,0,0,5,55.370117,13.330166,5
38140,2007,2007-04-05,21:25:00,488,Trosa,Verksamhet inte knuten till en byggnad,6534563.0,637926.0,Okänd,0,30,0,58.928516,17.396067,30
99353,2020,2020-08-17,11:36:00,1286,Ystad,Verksamhet inte knuten till en byggnad,6151246.0,432963.0,Okänd,0,0,100,55.502705,13.938700,100
92342,2019,2019-05-20,21:10:00,180,Stockholm,Verksamhet inte knuten till en byggnad,6588315.0,665978.0,Avsiktlig brand,0,100,150,59.400675,17.923612,250
69487,2015,2015-04-24,16:00:00,2180,Gävle,Verksamhet inte knuten till en byggnad,6727339.0,612347.0,Okänd,0,0,330,60.665962,17.055877,330
18459,2003,2003-04-16,18:06:00,484,Eskilstuna,Verksamhet inte knuten till en byggnad,6582215.0,582241.0,Okänd,0,3,0,59.370614,16.447120,3
12905,2002,2002-06-11,11:39:00,127,Botkyrka,Verksamhet inte knuten till en byggnad,6562198.0,662472.0,Okänd,15000,0,0,59.167796,17.842337,15000
86082,2018,2018-07-06,21:54:00,882,Oskarshamn,Verksamhet inte knuten till en byggnad,6375287.0,590788.0,Blixtnedslag,1000,500,80000,57.511034,16.515411,81500
51240,2010,2010-04-19,09:11:00,1980,Västerås,Verksamhet inte knuten till en byggnad,6608677.0,589423.0,Avsiktlig brand,0,0,1,59.606689,16.584534,1
92952,2019,2019-06-01,22:46:00,1283,Helsingborg,Verksamhet inte knuten till en byggnad,6214873.0,355714.0,Avsiktlig brand,0,1,0,56.057256,12.682867,1
9873,2002,2002-04-01,19:51:00,1440,Ale,Verksamhet inte knuten till en byggnad,NaN,NaN,Okänd,0,0,10,NaN,NaN,10
14691,2002,2002-09-12,16:40:00,1814,Lekeberg,Verksamhet inte knuten till en byggnad,6565025.0,483481.0,Okänd,0,6500,0,59.223948,14.710593,6500
37753,2007,2007-03-24,15:02:00,1382,Falkenberg,Verksamhet inte knuten till en byggnad,NaN,NaN,Annan eldning,0,0,100,NaN,NaN,100
36230,2006,2006-07-21,10:12:00,125,Ekerö,Verksamhet inte knuten till en byggnad,NaN,NaN,Okänd,0,10,0,NaN,NaN,10
65681,2014,2014-05-04,08:28:00,1082,Karlshamn,Verksamhet inte knuten till en byggnad,6223886.0,493376.0,Annan,0,0,1,56.159942,14.893350,1
20929,2003,2003-05-15,18:42:00,1480,Göteborg,Verksamhet inte knuten till en byggnad,6395862.0,316140.0,Okänd,0,20,0,57.667395,11.917375,20
73203,2016,2016-05-18,12:25:00,1780,Karlstad,Verksamhet inte knuten till en byggnad,6589406.0,411480.0,Annan eldning,0,0,75,59.433894,13.439474,75
76140,2016,2016-09-27,18:20:00,764,Alvesta,Verksamhet inte knuten till en byggnad,6301153.0,467448.0,Avsiktlig brand,0,0,1,56.853030,14.466245,1
70111,2015,2015-06-29,22:50:00,180,Stockholm,Verksamhet inte knuten till en byggnad,6588973.0,666647.0,Avsiktlig brand,0,3,0,59.406312,17.935889,3
26311,2004,2004-05-08,18:33:00,1257,Örkelljunga,Verksamhet inte knuten till en byggnad,6239095.0,393401.0,Barns lek med eld,0,0,10,56.284662,13.278024,10
9954,2002,2002-04-03,15:41:00,1480,Göteborg,Verksamhet inte knuten till en byggnad,6407460.0,323773.0,Okänd,0,2500,0,57.774486,12.036654,2500
1586,2000,2000-04-27,15:09:00,1490,Borås,Verksamhet inte knuten till en byggnad,NaN,NaN,Okänd,0,0,200,NaN,NaN,200
79070,2017,2017-05-19,10:56:00,191,Sigtuna,Verksamhet inte knuten till en byggnad,6609704.0,657602.0,Okänd,0,0,1,59.595740,17.792091,1
55525,2011,2011-05-11,16:48:00,1281,Lund,Verksamhet inte knuten till en byggnad,6170958.0,400348.0,Okänd,0,0,50,55.674200,13.415419,50
97499,2020,2020-05-30,11:03:00,1783,Hagfors,Verksamhet inte knuten till en byggnad,6662308.0,422207.0,Fel i utrustning,0,685,0,60.090454,13.601413,685
50285,2009,2009-08-06,11:02:00,380,Uppsala,Verksamhet inte knuten till en byggnad,6634567.0,645181.0,Okänd,20,0,0,59.823276,17.589491,20
80401,2017,2017-07-05,15:16:00,127,Botkyrka,Verksamhet inte knuten till en byggnad,6571165.0,660226.0,Grillning eller lägereld,0,35,0,59.249080,17.809704,35
47640,2009,2009-04-19,19:56:00,1490,Borås,Verksamhet inte knuten till en byggnad,NaN,NaN,Avsiktlig brand,0,0,50,NaN,NaN,50
92733,2019,2019-05-22,18:28:00,380,Uppsala,Verksamhet inte knuten till en byggnad,6632481.0,647109.0,Avsiktlig brand,0,0,15,59.803884,17.622367,15
48315,2009,2009-05-01,13:03:00,2081,Borlänge,Verksamhet inte knuten till en byggnad,6708088.0,531898.0,Tågbromsning,0,0,10,60.507633,15.580803,10
20995,2003,2003-05-18,10:36:00,180,Stockholm,Verksamhet inte knuten till en byggnad,NaN,NaN,Barns lek med eld,0,25,0,NaN,NaN,25
2563,2000,2000-05-11,21:39:00,513,Kinda,Verksamhet inte knuten till en byggnad,6440747.0,539955.0,Annan,0,600,0,58.106312,15.677970,600
63601,2013,2013-08-27,19:29:00,685,Vetlanda,Verksamhet inte knuten till en byggnad,6349771.0,508291.0,Okänd,1500,0,0,57.290849,15.137557,1500
72011,2016,2016-04-13,14:59:00,1861,Hallsberg,Verksamhet inte knuten till en byggnad,6543670.0,504954.0,Annan eldning,0,0,6000,59.032463,15.086309,6000
7136,2001,2001-05-26,09:40:00,1489,Alingsås,Verksamhet inte knuten till en byggnad,6440210.0,348718.0,Annan,0,1000,0,58.077466,12.434716,1000
76456,2016,2016-10-18,21:56:00,680,Jönköping,Verksamhet inte knuten till en byggnad,6404493.0,459463.0,Okänd,0,5,0,57.780644,14.318358,5
58785,2012,2012-05-30,12:58:00,120,Värmdö,Verksamhet inte knuten till en byggnad,6571464.0,695946.0,Okänd,0,50,0,59.236746,18.435170,50
27110,2004,2004-06-01,17:34:00,1880,Örebro,Verksamhet inte knuten till en byggnad,6572384.0,513381.0,Okänd,0,5,0,59.290144,15.234886,5
55432,2011,2011-05-10,11:47:00,1466,Herrljunga,Verksamhet inte knuten till en byggnad,NaN,NaN,Okänd,0,0,10,NaN,NaN,10
434,2000,2000-03-24,17:00:00,1383,Varberg,Verksamhet inte knuten till en byggnad,NaN,NaN,Okänd,0,0,200,NaN,NaN,200
73040,2016,2016-05-12,10:22:00,1080,Karlskrona,Verksamhet inte knuten till en byggnad,6246361.0,533582.0,Okänd,200,0,0,56.360724,15.543527,200
49746,2009,2009-06-28,22:54:00,1980,Västerås,Verksamhet inte knuten till en byggnad,6610951.0,589248.0,Avsiktlig brand,0,0,10,59.627138,16.582394,10
17267,2003,2003-03-31,13:41:00,883,Västervik,Verksamhet inte knuten till en byggnad,6405407.0,594362.0,Okänd,0,25,0,57.780756,16.586802,25
82432,2018,2018-04-21,15:30:00,2081,Borlänge,Verksamhet inte knuten till en byggnad,6704541.0,531291.0,Rökning,0,100,0,60.475835,15.569193,100
13544,2002,2002-08-15,19:00:00,1766,Sunne,Verksamhet inte knuten till en byggnad,NaN,NaN,Annan,10,0,0,NaN,NaN,10
40902,2007,2007-08-21,16:12:00,2380,Östersund,Fritidshus,NaN,NaN,Återantändning av brand från tidigare räddning...,0,10,0,NaN,NaN,10
90568,2019,2019-04-13,16:48:00,840,Mörbylånga,Verksamhet inte knuten till en byggnad,6236279.0,587528.0,Okänd,0,150,0,56.263269,16.413092,150
36275,2006,2006-07-22,17:36:00,1737,Torsby,Verksamhet inte knuten till en byggnad,6728540.0,367538.0,Blixtnedslag,7500,0,0,60.670582,12.575579,7500
58739,2012,2012-05-28,09:24:00,117,Österåker,Verksamhet inte knuten till en byggnad,6602557.0,688304.0,Annan eldning,80,0,0,59.518962,18.328692,80
55224,2011,2011-05-06,15:22:00,1401,Härryda,Verksamhet inte knuten till en byggnad,6398314.0,346366.0,Okänd,0,30,0,57.700724,12.421943,30

In [15]:
#Functions for converting easting and northing to latitudes and longitudes.
def toLat(E,N):
    lat, lon = tm.grid_to_geodetic(N,E)
    return lat
def toLon(E,N):
    lat, lon = tm.grid_to_geodetic(N,E)
    return lon

In [16]:
#Applying functions to create to new columns, Longitude and Latitude for reported fires.
sample['Latitude'] = sample.apply(lambda row: toLat(row['sweref99Ost'],row['sweref99Norr']),axis=1)
sample['Longitude'] = sample.apply(lambda row: toLon(row['sweref99Ost'],row['sweref99Norr']),axis=1)
sample

,ar,datum,tid,kommun,kommunKortNamn,verksamhetText,sweref99Norr,sweref99Ost,BEJBbrandorsakText,arealProduktivSkogsmark_m2,arealAnnanTradbevuxenMark_m2,arealMarkUtanTrad_m2,Latitude,Longitude,TotArea
80185,2017,2017-06-28,15:40:00,1287,Trelleborg,Verksamhet inte knuten till en byggnad,6137248.0,394174.0,Okänd,0,0,5,55.370117,13.330166,5
38140,2007,2007-04-05,21:25:00,488,Trosa,Verksamhet inte knuten till en byggnad,6534563.0,637926.0,Okänd,0,30,0,58.928516,17.396067,30
99353,2020,2020-08-17,11:36:00,1286,Ystad,Verksamhet inte knuten till en byggnad,6151246.0,432963.0,Okänd,0,0,100,55.502705,13.938700,100
92342,2019,2019-05-20,21:10:00,180,Stockholm,Verksamhet inte knuten till en byggnad,6588315.0,665978.0,Avsiktlig brand,0,100,150,59.400675,17.923612,250
69487,2015,2015-04-24,16:00:00,2180,Gävle,Verksamhet inte knuten till en byggnad,6727339.0,612347.0,Okänd,0,0,330,60.665962,17.055877,330
18459,2003,2003-04-16,18:06:00,484,Eskilstuna,Verksamhet inte knuten till en byggnad,6582215.0,582241.0,Okänd,0,3,0,59.370614,16.447120,3
12905,2002,2002-06-11,11:39:00,127,Botkyrka,Verksamhet inte knuten till en byggnad,6562198.0,662472.0,Okänd,15000,0,0,59.167796,17.842337,15000
86082,2018,2018-07-06,21:54:00,882,Oskarshamn,Verksamhet inte knuten till en byggnad,6375287.0,590788.0,Blixtnedslag,1000,500,80000,57.511034,16.515411,81500
51240,2010,2010-04-19,09:11:00,1980,Västerås,Verksamhet inte knuten till en byggnad,6608677.0,589423.0,Avsiktlig brand,0,0,1,59.606689,16.584534,1
92952,2019,2019-06-01,22:46:00,1283,Helsingborg,Verksamhet inte knuten till en byggnad,6214873.0,355714.0,Avsiktlig brand,0,1,0,56.057256,12.682867,1
9873,2002,2002-04-01,19:51:00,1440,Ale,Verksamhet inte knuten till en byggnad,NaN,NaN,Okänd,0,0,10,NaN,NaN,10
14691,2002,2002-09-12,16:40:00,1814,Lekeberg,Verksamhet inte knuten till en byggnad,6565025.0,483481.0,Okänd,0,6500,0,59.223948,14.710593,6500
37753,2007,2007-03-24,15:02:00,1382,Falkenberg,Verksamhet inte knuten till en byggnad,NaN,NaN,Annan eldning,0,0,100,NaN,NaN,100
36230,2006,2006-07-21,10:12:00,125,Ekerö,Verksamhet inte knuten till en byggnad,NaN,NaN,Okänd,0,10,0,NaN,NaN,10
65681,2014,2014-05-04,08:28:00,1082,Karlshamn,Verksamhet inte knuten till en byggnad,6223886.0,493376.0,Annan,0,0,1,56.159942,14.893350,1
20929,2003,2003-05-15,18:42:00,1480,Göteborg,Verksamhet inte knuten till en byggnad,6395862.0,316140.0,Okänd,0,20,0,57.667395,11.917375,20
73203,2016,2016-05-18,12:25:00,1780,Karlstad,Verksamhet inte knuten till en byggnad,6589406.0,411480.0,Annan eldning,0,0,75,59.433894,13.439474,75
76140,2016,2016-09-27,18:20:00,764,Alvesta,Verksamhet inte knuten till en byggnad,6301153.0,467448.0,Avsiktlig brand,0,0,1,56.853030,14.466245,1
70111,2015,2015-06-29,22:50:00,180,Stockholm,Verksamhet inte knuten till en byggnad,6588973.0,666647.0,Avsiktlig brand,0,3,0,59.406312,17.935889,3
26311,2004,2004-05-08,18:33:00,1257,Örkelljunga,Verksamhet inte knuten till en byggnad,6239095.0,393401.0,Barns lek med eld,0,0,10,56.284662,13.278024,10
9954,2002,2002-04-03,15:41:00,1480,Göteborg,Verksamhet inte knuten till en byggnad,6407460.0,323773.0,Okänd,0,2500,0,57.774486,12.036654,2500
1586,2000,2000-04-27,15:09:00,1490,Borås,Verksamhet inte knuten till en byggnad,NaN,NaN,Okänd,0,0,200,NaN,NaN,200
79070,2017,2017-05-19,10:56:00,191,Sigtuna,Verksamhet inte knuten till en byggnad,6609704.0,657602.0,Okänd,0,0,1,59.595740,17.792091,1
55525,2011,2011-05-11,16:48:00,1281,Lund,Verksamhet inte knuten till en byggnad,6170958.0,400348.0,Okänd,0,0,50,55.674200,13.415419,50
97499,2020,2020-05-30,11:03:00,1783,Hagfors,Verksamhet inte knuten till en byggnad,6662308.0,422207.0,Fel i utrustning,0,685,0,60.090454,13.601413,685
50285,2009,2009-08-06,11:02:00,380,Uppsala,Verksamhet inte knuten till en byggnad,6634567.0,645181.0,Okänd,20,0,0,59.823276,17.589491,20
80401,2017,2017-07-05,15:16:00,127,Botkyrka,Verksamhet inte knuten till en byggnad,6571165.0,660226.0,Grillning eller lägereld,0,35,0,59.249080,17.809704,35
47640,2009,2009-04-19,19:56:00,1490,Borås,Verksamhet inte knuten till en byggnad,NaN,NaN,Avsiktlig brand,0,0,50,NaN,NaN,50
92733,2019,2019-05-22,18:28:00,380,Uppsala,Verksamhet inte knuten till en byggnad,6632481.0,647109.0,Avsiktlig brand,0,0,15,59.803884,17.622367,15
48315,2009,2009-05-01,13:03:00,2081,Borlänge,Verksamhet inte knuten till en byggnad,6708088.0,531898.0,Tågbromsning,0,0,10,60.507633,15.580803,10
20995,2003,2003-05-18,10:36:00,180,Stockholm,Verksamhet inte knuten till en byggnad,NaN,NaN,Barns lek med eld,0,25,0,NaN,NaN,25
2563,2000,2000-05-11,21:39:00,513,Kinda,Verksamhet inte knuten till en byggnad,6440747.0,539955.0,Annan,0,600,0,58.106312,15.677970,600
63601,2013,2013-08-27,19:29:00,685,Vetlanda,Verksamhet inte knuten till en byggnad,6349771.0,508291.0,Okänd,1500,0,0,57.290849,15.137557,1500
72011,2016,2016-04-13,14:59:00,1861,Hallsberg,Verksamhet inte knuten till en byggnad,6543670.0,504954.0,Annan eldning,0,0,6000,59.032463,15.086309,6000
7136,2001,2001-05-26,09:40:00,1489,Alingsås,Verksamhet inte knuten till en byggnad,6440210.0,348718.0,Annan,0,1000,0,58.077466,12.434716,1000
76456,2016,2016-10-18,21:56:00,680,Jönköping,Verksamhet inte knuten till en byggnad,6404493.0,459463.0,Okänd,0,5,0,57.780644,14.318358,5
58785,2012,2012-05-30,12:58:00,120,Värmdö,Verksamhet inte knuten till en byggnad,6571464.0,695946.0,Okänd,0,50,0,59.236746,18.435170,50
27110,2004,2004-06-01,17:34:00,1880,Örebro,Verksamhet inte knuten till en byggnad,6572384.0,513381.0,Okänd,0,5,0,59.290144,15.234886,5
55432,2011,2011-05-10,11:47:00,1466,Herrljunga,Verksamhet inte knuten till en byggnad,NaN,NaN,Okänd,0,0,10,NaN,NaN,10
434,2000,2000-03-24,17:00:00,1383,Varberg,Verksamhet inte knuten till en byggnad,NaN,NaN,Okänd,0,0,200,NaN,NaN,200
73040,2016,2016-05-12,10:22:00,1080,Karlskrona,Verksamhet inte knuten till en byggnad,6246361.0,533582.0,Okänd,200,0,0,56.360724,15.543527,200
49746,2009,2009-06-28,22:54:00,1980,Västerås,Verksamhet inte knuten till en byggnad,6610951.0,589248.0,Avsiktlig brand,0,0,10,59.627138,16.582394,10
17267,2003,2003-03-31,13:41:00,883,Västervik,Verksamhet inte knuten till en byggnad,6405407.0,594362.0,Okänd,0,25,0,57.780756,16.586802,25
82432,2018,2018-04-21,15:30:00,2081,Borlänge,Verksamhet inte knuten till en byggnad,6704541.0,531291.0,Rökning,0,100,0,60.475835,15.569193,100
13544,2002,2002-08-15,19:00:00,1766,Sunne,Verksamhet inte knuten till en byggnad,NaN,NaN,Annan,10,0,0,NaN,NaN,10
40902,2007,2007-08-21,16:12:00,2380,Östersund,Fritidshus,NaN,NaN,Återantändning av brand från tidigare räddning...,0,10,0,NaN,NaN,10
90568,2019,2019-04-13,16:48:00,840,Mörbylånga,Verksamhet inte knuten till en byggnad,6236279.0,587528.0,Okänd,0,150,0,56.263269,16.413092,150
36275,2006,2006-07-22,17:36:00,1737,Torsby,Verksamhet inte knuten till en byggnad,6728540.0,367538.0,Blixtnedslag,7500,0,0,60.670582,12.575579,7500
58739,2012,2012-05-28,09:24:00,117,Österåker,Verksamhet inte knuten till en byggnad,6602557.0,688304.0,Annan eldning,80,0,0,59.518962,18.328692,80
55224,2011,2011-05-06,15:22:00,1401,Härryda,Verksamhet inte knuten till en byggnad,6398314.0,346366.0,Okänd,0,30,0,57.700724,12.421943,30

In [ ]:
#We need to group fire sizes here but what sizes should we use? What is a "big" fire and what is a "small" fire?

In [ ]:
#Group fires by size
small_wildfires = folium.FeatureGroup(TotArea = '< 10000 Acres')
medium_wildfires = folium.FeatureGroup(TotArea = '10,000 - 50,000 Acres')
large_wildfires = folium.FeatureGroup(TotArea = '50,000 - 100,000 Acres')
xl_wildfires = folium.FeatureGroup(TotArea = '> 100,000 Acres')