In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date

In [2]:
path='../data/raw/Brandriskdata 2000-2020.csv'
#'PunktID': str, 'E': str, 'N': str,
types={ 'PunktID': str}

In [3]:
#Reading csv file from path with dtypes
df = pd.read_csv(path, sep=';', dtype=types)

In [11]:
#Here are our headers!
df.head(1)

        Date  Municipality   FWI  FWI_index
0 2000-04-01           115  5.25        2.0

In [4]:
#Number of rows in fire riskdataset
df.shape[0]

19188859

In [6]:
df.isnull().sum(axis = 0)

Gras has total of 6855866 null values
Vindriktning has total of 12310774 null values

PunktID                 0
E                       2
N                       2
Kommun                  2
Datum                   2
Temp                14617
Tmedel              38049
Nederbord           23520
RH                  33459
Vindhastighet        3991
Vindriktning     12310774
FFMC              1701172
DMC               1701172
DC                1701172
ISI               1701172
BUI               1701172
FWI               1701172
FWI_index         1701172
HBV_o             1404342
HBV_u             1404342
HBV               1404342
HBV_index         1404342
Gras              6855866
dtype: int64

In [8]:
df = df.drop(columns=['Nederbord',
       'RH', 'Vindhastighet', 'Vindriktning', 'FFMC', 'DMC', 'DC', 'ISI',
       'BUI', 'HBV_o', 'HBV_u', 'HBV', 'HBV_index', 'Tmedel','Temp',
       'Gras','E','N'])

In [9]:
df.dropna(subset=['FWI'], how='all', inplace=True)
df['FWI'] = df['FWI'].str.replace(',','.')
df['FWI'] = df['FWI'].astype(float)
df['Kommun'] = df['Kommun'].astype(int)
df['Datum'] = pd.to_datetime(df['Datum'], format='%Y-%m-%d')
df = df.groupby(['Datum','Kommun']).mean()
df = df.reset_index()
df = df.rename(columns={"Datum": "Date", "Kommun":"Municipality"})
df

              Date  Municipality      FWI  FWI_index
0       2000-04-01           115  5.25000       2.00
1       2000-04-01           117  4.44000       2.00
2       2000-04-01           120  2.32500       1.25
3       2000-04-01           125  5.32500       2.00
4       2000-04-01           126  4.70000       2.00
...            ...           ...      ...        ...
1237765 2020-12-31          2580  0.00000      -1.00
1237766 2020-12-31          2581  0.00000      -1.00
1237767 2020-12-31          2582  0.00000      -1.00
1237768 2020-12-31          2583  0.00000      -1.00
1237769 2020-12-31          2584  0.00625      -1.00

[1237770 rows x 4 columns]

In [10]:
df.isnull().sum(axis = 0)

Date            0
Municipality    0
FWI             0
FWI_index       0
dtype: int64

In [12]:
df

              Date  Municipality      FWI  FWI_index
0       2000-04-01           115  5.25000       2.00
1       2000-04-01           117  4.44000       2.00
2       2000-04-01           120  2.32500       1.25
3       2000-04-01           125  5.32500       2.00
4       2000-04-01           126  4.70000       2.00
...            ...           ...      ...        ...
1237765 2020-12-31          2580  0.00000      -1.00
1237766 2020-12-31          2581  0.00000      -1.00
1237767 2020-12-31          2582  0.00000      -1.00
1237768 2020-12-31          2583  0.00000      -1.00
1237769 2020-12-31          2584  0.00625      -1.00

[1237770 rows x 4 columns]